/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.page-header {
  padding: 5px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.current-page-title {
  padding-left: 5px;
}

.back-arrow {
  vertical-align: middle;
}
