
<footer class="site-footer mat-toolbar mat-primary">
  <div class="footer-content">
    <div class="footer-logo-content">
      <div class="footer-logo">
        <a [routerLink]="'/'">
          <img src="/assets/images/logo.png"
            alt="SmartBooks icon"
            class="footer-smartbooks-logo">

            <span class="footer-smartbooks-text">
              Nesadi Sacco
            </span>
        </a>
      </div>
    </div>
    <div class="footer-social-content">
      <a href="https://www.facebook.com">
        <img src="assets/icons/socialmedia/icons8-facebook-f-24.png"
              alt="facebook icon">
      </a>
      <a href="https://www.linkedin.com">
        <img src="/assets/icons/socialmedia/icons8-linkedin-24.png"
              alt="linkedin icon">
      </a>
      <a href="https://www.twitter.com">
        <img src="/assets/icons/socialmedia/icons8-twitter-squared-24.png"
              alt="linkedin icon">
      </a>
    </div>
    <div class="footer-terms-content">
      <a href="/">
        Privacy
      </a>
      <a href="/">
        Terms
      </a>
    </div>
  </div>
</footer>
