/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.page-body {
  margin-top: 85px;
}


.sections-container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 85px;
}

.site-section {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-bg {
  background-color: #F0EDDC;
}

.section-header {
  padding-top: 10px;
  margin-bottom: 50px;
}

.section-title {
  visibility: visible;
  animation-name: fadeInDown;
  color:#008000;
  font-size: 44px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
  text-align: center;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.section-header .section-title:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #FFC000;
  border-radius: 20px;
  background: #008000;
}

.section-content {
  padding-bottom: 10px;
}

.column-title {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color:#006838;
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}

.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #006838;
}

.text-center {
  text-align: center;
}




.hide{
  display: none;
}

.highlightSelected {
  background: rgba(0,0,0,.04)
}

.th-right{
  justify-content: flex-end;
}

.w-50{
  width: 50px;
  flex: none;
}

.w-75{
  width: 75px;
  flex: none;
}

.w-115{
  width: 115px;
  flex: none;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.page-header-actions {
  display: flex;
}

.page-filter-action {
  flex: 1 1 auto;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.right-aligned-input {
  text-align: right !important;
}

/* Dialog forms max-width: 95vw;*/
.form-dialog-container {
  max-width: 450px !important;
}

.form-dialog-container-mobile {
  max-width: 95vw !important;
}


.display-flex {
  display: flex;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.btn-dialog-close {
  width: 45px !important;
  min-width: 0px !important;
  height: 40px !important;
  padding: 0px !important;
}

.full-width-field {
  width: 100%;
}

.form-actions {
  text-align: center;
}

.btn-form-actions {
  margin: 10px !important;
  width: 30% !important;
}

.btn-form-actions-cancel {
  background-color: #b6bece;
  color:white;
}

/* notification */
snack-bar-container.success {
  background-color: #5cb85c;
  color : #fff;
}

snack-bar-container.warn {
  background-color: #E30B0B;
  color : #fff;
}


snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
}

.mat-label {
  /* color: rgba(0,0,0,.84); */
  font-size: 18px;
}

.back-arrow {
  vertical-align: middle;
}

.details-content-page {
  overflow-y: hidden !important;
}

.header-spacer {
  flex: 1 1 auto;
}

