<section class="site-section">
  <div class="section-header">
    <h2 class="section-title">
      WHO CAN JOIN US
    </h2>
  </div>
  <div class="section-content">
    <ul>
      <li>This SACCO is not limited or restricted to any section of the population of Kenya or beyond.</li>
      <li>The SACCO is also not restricted to any industry.</li>
      <li>Membership to the SACCO is on voluntary basis, with voluntary entry and exit.</li>
      <li>Whatever you do for a living as long as it is legal and wherever you are-in or out of Kenya, you are most welcome to join <b>NESADI SACCO</b>. </li>
      <li>We embrace human diversity and your geographical location, whether residential or work-related should not be a barrier. The common denominator for all of us at NESADI SACCO is to improve the wellbeing of members. You just need Kshs 1,000 to register as a member.</li>
    </ul>
  </div>
</section>
