
<section class="site-section section-bg">
  <div class="section-header">
    <h2 class="section-title">
      About Us
    </h2>
  </div>
  <div class="section-content">
    <p>
      <b>NESADI SACCO Ltd</b> is a duly registered SACCO under The Co-operative  Societies Act Cap 490 of the Laws of Kenya. Registered on the 15th of September 2020, the SACCO is relatively new and aspires to demonstrate that with proper management practices and application of best SACCO principles it is truly possible to grow a SACCO which appeals and meets the expectations of its members.
    </p>
    <p>
      We envision walking diligently with our members through their financial journeys by offering supportive, empowering and reliable savings, credit and investment services in order to improve their welfare and shared prosperity. We seek to become the financial partner of choice for our members.
    </p>

    <h3 class="column-title">
      MISSION
    </h3>
    <p>
      To improve the welfare of members through reasonable savings, affordable credit, prudent investments, wealth creation, moral support and compassionate companionship in an ethical, effective, efficient, creative, transparent and friendly manner.
    </p>

    <h3 class="column-title">
      OUR SLOGAN
    </h3>
    <p>
      We Care and Together We Can
    </p>

    <h3 class="column-title">
      OUR PHILOSOPHY
    </h3>
    <p>
      We are not just a SACCO; We are also a family of Savers, Borrowers, Investors, Innovators, Creative Thinkers and above all Brothers and Sisters who care for one another. We also care for our Natural Environment.
    </p>
  </div>
</section>
