<app-header></app-header>
<section class="page-body">
  <section id="carousel" class="sections-container">
    <app-carousel></app-carousel>
  </section>
  <section id="aboutus" class="sections-container">
    <app-aboutus></app-aboutus>
  </section>
  <section id="canjoin" class="sections-container">
    <app-canjoin></app-canjoin>
  </section>
  <section id="products" class="sections-container">
    <app-products></app-products>
  </section>
  <section id="contacts" class="sections-container">
    <app-contacts></app-contacts>
  </section>
</section>
<app-footer></app-footer>
