
<section class="top-menu">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="https://www.nesadisacco.com"
        class="company-logo-link">
        <div class="company-logo"></div>
        <span class="company-name"
              *ngIf="!(isHandset | async)">
              &nbsp; Nesadi Sacco
        </span>
        <span class="company-name"
              *ngIf="(isHandset | async)">
              &nbsp; Nesadi Sacco
        </span>
      </a>

      <span class="header-spacer"></span>
      <div *ngIf="!ShowLinks">
        <div class="mobile-menu"
            *ngIf="!(isHandset | async)">
            <button mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <a mat-menu-item
                      color="warn"
                      href="https://www.nesadisacco.com">
                <span>Home</span>
            </a>
              <a mat-menu-item
                      color="warn"
                      href="https://www.nesadisacco.com/about.html">
                <span>About Us</span>
              </a>
              <a href="https://www.nesadisacco.com/products.html" mat-menu-item>
                <span>Products</span>
              </a>
              <a href="https://www.nesadisacco.com/contact.html" mat-menu-item>
                <span>Contacts</span>
              </a>
            </mat-menu>
        </div>
        <div class="desktop-menu"
            *ngIf="(isHandset | async)">
          <a mat-button href="https://www.nesadisacco.com/products.html">
            Home
          </a>
          <a mat-button
            href="https://www.nesadisacco.com/about.html">
            About Us
          </a>
          <a mat-button
            href="https://www.nesadisacco.com/products.html">
            Products
          </a>
          <a mat-button
             href="https://www.nesadisacco.com/contact.html">
            <span>Contacts</span>
          </a>
        </div>
      </div>


    </mat-toolbar-row>
  </mat-toolbar>
</section>

