
<section class="top-menu">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a [routerLink]="'/'"
        class="company-logo-link">
        <div class="company-logo"></div>
        <span class="company-name"
              *ngIf="!(isHandset | async)">
              &nbsp; Nesadi Sacco
        </span>
        <span class="company-name"
              *ngIf="(isHandset | async)">
              &nbsp; Nesadi Sacco
        </span>
      </a>

      <span class="header-spacer"></span>
      <div *ngIf="!ShowLinks">
        <div class="mobile-menu"
            *ngIf="!(isHandset | async)">
            <button mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <a mat-menu-item
                      color="warn"
                      href="/home#">
                <span>Home</span>
            </a>
              <a mat-menu-item
                      color="warn"
                      href="/home#aboutus">
                <span>About Us</span>
            </a>
              <a href="/home#products" mat-menu-item>
                <span>Products</span>
              </a>
              <button mat-menu-item
                      color="warn">
                <mat-icon>account_box</mat-icon>
                <span>Register</span>
              </button>
              <button mat-menu-item
                      [routerLink]="'/calculator'">
                <mat-icon>keyboard</mat-icon>
                <span>Loan Calculator</span>
              </button>
              <button mat-menu-item>
                <mat-icon>power_settings_new</mat-icon>
                <span>Login</span>
              </button>
            </mat-menu>
        </div>
        <div class="desktop-menu"
            *ngIf="(isHandset | async)">
          <a mat-button href="/home#">
            Home
          </a>
          <a mat-button
            href="/home#aboutus">
            About Us
          </a>
          <a mat-button
            href="/home#products">
            Products
          </a>
          <a mat-button
          [matMenuTriggerFor]="accountantMenu">
            Loan Calculators
          </a>
          <a mat-button
            [routerLink]="'/register'"
            color="warn">
            Register
          </a>
          <a mat-button [routerLink]="'/login'">
            <mat-icon>power_settings_new</mat-icon> Login
          </a>

          <mat-menu #accountantMenu="matMenu">
            <button mat-menu-item
                    [routerLink]="'/register'">
                      Loan Calculator
            </button>
          </mat-menu>
        </div>
      </div>


    </mat-toolbar-row>
  </mat-toolbar>
</section>

