<section class="site-section">
  <div class="section-header">
    <h2 class="section-title">
      Contact Us
    </h2>
  </div>
  <div class="section-content text-center">
    <p>
      NESADI Savings and Credit Cooperative Society Ltd<br>
      P.O. Box 201-00511, Ongata Rongai,<br>
      Tuala/Oloorsirkon, Kajiado County<br>
      Tel:<a href="tel:+254720100768"> +254 720 100 768</a>, Nairobi, Kenya<br>
       Email:<a href="mailto:inquiry@nesadisacco.com">inquiry@nesadisacco.com</a><br>
      Website: <a href="www.nesadisacco.com">www.nesadisacco.com</a>
    </p>
  </div>
</section>
