.profile-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}


.profile-avator {
  border-radius: 50%;
  width: 154px;
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008000;
  border: 2px solid #FFC000;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 8px;
  border: 2px solid #FFC000;
}

.gender-badge {
  color: #FFC000;
  font-size: large;
}

.status-badge {
  color: #FFC000;
  font-size: x-large;
  margin: auto;
}

.attachment-image {
  border-radius: 5%;
  width: 180px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #FFC000;
}

.intials {
  color: #FFC000;
  font-size: xx-large;
  font-weight: 600;
}

.member-name {
  color: #008000;
  font-weight: 600;
  font-size: xx-large;
  padding-top: 10px;
}

.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-body-content {
  max-width: 350px;
}

.page-card {
  width: 70%;
  max-width: 500px;
  margin-bottom: 15px;
}


@media screen and (max-width: 640px) {
  .page-card {
    width: 95%;
  }
}
.action-container {
  text-align: right;
}

.tab-head-icon {
  height: 40px;
  padding-right: 10px;
}

.doc-type-title {
  padding: 5px;
  text-align: center;
}

.doc-tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.doc-item {
  text-align: center;
}

.kyc-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section-header {
  color: #008000;
  font-weight: 600;
  font-size: xx-large;
  padding-top: 10px;
}
