
<div class="profile-page-container">
  <div class="profile-page-header">
    <div class="profile-avator">
      <img src="{{service.avatorName()}}"
      class="profile-image"
      *ngIf="service.avatorName()">
    <div class="intials"
          *ngIf="!service.avatorName()">
      {{service.intial()}}
    </div>
    </div>
    <h2 class="member-name">
      {{currentMember.otherNames}} {{currentMember.surname}}
    </h2>
  </div>
  <div class="profile-body">
    <mat-card class="page-card">
      <mat-card-content>
        <form [formGroup]="service.kycForm">
          <ng-template matStepLabel>Personal Details</ng-template>
          <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field class="full-width-field">
                <mat-label class="mat-label">First Name</mat-label>
                <input matInput
                      type="text"
                      name="otherNames"
                      formControlName="otherNames"
                      required/>
                      <mat-error *ngIf="service.kycForm.controls.otherNames.errors?.required">
                        First Name is required
                      </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width-field">
                <mat-label class="mat-label">Last Name</mat-label>
                <input matInput
                      type="text"
                      name="surname"
                      formControlName="surname"/>
              </mat-form-field>
            </mat-grid-tile>
            <app-spinner></app-spinner>
            <mat-grid-tile>
              <mat-form-field class="full-width-field">
                <mat-label class="mat-label">ID/Passport No</mat-label>
                <input matInput
                      type="text"
                      name="indentificationNo"
                      formControlName="indentificationNo"
                      required/>
                      <mat-error *ngIf="service.kycForm.controls.indentificationNo.errors?.required">
                        ID/ Passport No is required
                      </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width-field">
                <mat-label class="mat-label">Phone Number</mat-label>
                <input matInput
                      type="text"
                      name="phoneNumber"
                      formControlName="phoneNumber"
                      required/>
                      <mat-error *ngIf="service.kycForm.controls.phoneNumber.errors?.required">
                        Phone Number is required
                      </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label class="mat-label">
                  Marital Status
                </mat-label>
                <mat-select
                formControlName="maritalStatus">
                  <mat-option
                    *ngFor="let ms of maritalStatuses"
                    [value]="ms.value">
                      {{ms.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width-field">
                <mat-label class="mat-label">Email</mat-label>
                <input matInput
                      type="email"
                      name="email"
                      formControlName="email"
                      required/>
                      <mat-error *ngIf="service.kycForm.controls.email.errors?.required">
                        Email is required
                      </mat-error>
                      <mat-error *ngIf="service.kycForm.controls.email.errors?.email">
                        Enter a valid email
                      </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]= "2">
              <mat-label class="mat-label">
                Gender &nbsp;&nbsp;&nbsp;
              </mat-label>
              <mat-radio-group aria-label="Select a gender"
                class="radio-group"
                value="gender">
                <mat-radio-button value="0" (change)="onGenderChanged()" class="radio-btn" checked>
                  Female
                </mat-radio-button>
                <mat-radio-button value="1" class="radio-btn" (change)="onGenderChanged()" >
                  Male
                </mat-radio-button>
              </mat-radio-group>
            </mat-grid-tile>
          </mat-grid-list>
          <div class="action-container">
            <button mat-raised-button
                    color="primary"
                    (click)="onSaveDetails()">
                    Update
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <h2 class="member-name">
      Attachments
    </h2>

    <mat-card class="page-card">
      <mat-card-content>
        <img src="{{service.avatorName()}}"
            class="attachment-image "
            *ngIf="service.avatorName()">
        <img src="{{service.idFrontName()}}"
            class="attachment-image"
            *ngIf="service.idFrontName()">
        <img src="{{service.idBackName()}}"
            class="attachment-image"
            *ngIf="service.idBackName()">
      </mat-card-content>
    </mat-card>
  </div>
</div>
