.profile-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}


.profile-avator {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008000;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.attachment-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #FFC000;
}

.intials {
  color: #FFC000;
}

.member-name {
  color: #008000;
  font-weight: 600;
  font-size: xx-large;
  padding-top: 10px;
}

.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-body-content {
  max-width: 350px;
}

.page-card {
  width: 70%;
  max-width: 500px;
  margin-bottom: 15px;
}

.action-container {
  text-align: right;
}
