<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>NESADI SACCO - About Us</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <link rel="apple-touch-icon" href="img/core-img/icon-192x192.png"/>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

      <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZKHPBQDMVP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZKHPBQDMVP');
  </script>
</head>

<body>

        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="img/core-img/logo.png" alt="" class="sacco-logo"> NESADI SACCO</a>
                        </div>
                        
                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                             <!-- Nav Start -->
                             <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html" class="header-active">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="whynesadi.html">Why Join Us</a></li>
                                    <li><a href="management.html">Management</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="https://membersportal.nesadisacco.com/?returnUrl=%2Flogin">
                                        <i class="fa fa-sign-in"></i>
                                        Login
                                    </a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <section class="breadcrumb-area bg-img header-img-overlay" style="background-image: url(img/bg-img/header.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2>About Us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-sm-12 pr-15">
            <div class="mt-5"></div>
            <div class="section-heading text-center wow fadeInUp pr-15" data-wow-delay="100ms">
                <h2>Quick Links</h2>
            </div>
            <div class="quick-links-table pricing-table-highlighted vpr-15" data-wow-delay="200ms">
                <div class="quick-link grd1">
                    <a href="whynesadi.html">
                        <h5 class="text-center">
                            <i class="fa fa-handshake-o"></i>
                            Why Join Us
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="whynesadi.html#howtojoin">
                        <h5 class="text-center">
                            <i class="fa fa-question-circle-o"></i>
                            How to Join
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="products.html">
                        <h5 class="text-center">
                            <i class="fa fa-shopping-cart"></i>
                            Our Products
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="https://membersportal.nesadisacco.com">
                        <h5 class="text-center">
                            <i class="fa fa-user-plus"></i>
                            Register
                        </h5>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

        <!-- ##### About Us Area Start ###### -->
        <section class="services-area section-padding-50-0 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <!-- Section Heading -->
                                <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                                    <div class="line"></div>
                                    <h2>Who Are We?</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    NESADI SACCO Ltd is a duly registered SACCO under The Co-operative  Societies Act Cap 490 of the Laws of Kenya. Registered on the 15th of September 2020, the SACCO aspires to demonstrate that with proper management practices and application of best SACCO principles it is truly possible to grow a SACCO which appeals and meets the expectations of its members.
                                </p>
                                <p>
                                    We envision walking diligently with our members through their financial journeys by offering supportive, empowering and reliable savings, credit and investment services in order to improve their welfare and shared prosperity. We seek to become the financial partner of choice for our members.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <!-- Section Heading -->
                                <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                                    <div class="line"></div>
                                    <h2>WHO CAN JOIN THIS SACCO?</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    This SACCO is not limited or restricted to any section of the population of Kenya or beyond. 
                                </p>
                                <p>
                                    The SACCO is also not restricted to any industry. 
                                </p>
                                <p>
                                    Membership to the SACCO is on voluntary basis, with voluntary entry and exit.
                                </p>
                                <p>
                                    Whatever you do for a living as long as it is legal and wherever you are-in or out of Kenya, you are most welcome to join NESADI SACCO. 
                                </p>
                                <p>
                                    We embrace human diversity and your geographical location, whether residential or work-related should not be a barrier. The common denominator for all of us at NESADI SACCO is to improve the wellbeing of members. You just need Kshs 1,000 to register as a member and your monthly contribution depends on how much you can afford but not less than Kshs 500 per month
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                            <h2>OUR SLOGAN</h2>
                            <h4>
                                We Care and Together We Can
                            </h4>
                        </div>
                       
                    </div>
                </div>
                               
                <div class="row">
                    <!-- Single Service Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-service-area d-flex mb-50 wow fadeInUp" data-wow-delay="200ms">
                            <div class="text">
                                <h5 class="text-center">VISION</h5>
                                <p class="text-center">
                                    <img class="icon-img" src="img/core-img/vision.png">
                                </p>
                                <p>
                                    To be a most supportive, empowering and reliable financial partner of choice for our members. We envision walking diligently with our members through their financial journeys.
                                </p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Service Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-service-area d-flex mb-50 wow fadeInUp" data-wow-delay="300ms">
                            <div class="text">
                                <h5  class="text-center">MISSION</h5>
                                <p class="text-center">
                                    <img class="icon-img" src="img/core-img/mission.png">
                                </p>
                                <p>
                                    To improve the welfare of members through reasonable savings, affordable credit, prudent investments, wealth creation, moral support and compassionate companionship in an ethical, effective, efficient, creative, transparent and friendly manner.
                                </p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Service Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-service-area d-flex mb-50 wow fadeInUp" data-wow-delay="400ms">
                            <div class="text">
                                <h5  class="text-center">OUR PHILOSOPHY</h5>
                                <p class="text-center">
                                    <img class="icon-img" src="img/core-img/philosophy.png">
                                </p>
                                <p>
                                    We are not just a SACCO; We are also a family of Savers, Borrowers, Investors, Innovators, Creative Thinkers and above all Brothers and Sisters who care for one another. We also care for our communities and the natural environment around us.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col-12">
                        <div class="text-center wow fadeInUp" data-wow-delay="100ms">
                            <div class="text">
                                <img class="icon-img-title" src="img/core-img/Values.png">
                            </div>
                            <p>
                                We at NESADI SACCO are guided by a set of values which include but not limited to
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <ul class="core-values">
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Professionalism
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Transparency
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Integrity
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Accountability
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Customer focused
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <ul class="core-values">
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Teamwork
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Commitment
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Confidentiality
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Respect
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Fairness
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <ul class="core-values">
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Honesty
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Reliability
                            </li>
                            <li>
                                <i class="fa fa-rocket"></i> 
                                Embrace of diversity
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- ##### About Us Area End ###### -->

        

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-50-0">
        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img class="sacco-logo" src="img/core-img/logo.png" alt=""></a>
                            <p class="footer-gold">
                                NESADI SACCO | We Care and Together We Can
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>