<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>NESADI SACCO - Contact</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>

        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="img/core-img/logo.png" alt="" class="sacco-logo"> NESADI SACCO</a>
                        </div>
                        
                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="whynesadi.html">Why Join Us</a></li>
                                    <li><a href="management.html">Management</a></li>
                                    <li><a href="contact.html" class="header-active">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <section class="breadcrumb-area bg-img header-img-overlay" style="background-image: url(img/bg-img/header.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2>Contact</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-sm-12 pr-15">
            <div class="mt-10"></div>
            <div class="quick-links-table pricing-table-highlighted vpr-15" data-wow-delay="200ms">
                <div class="quick-link grd1">
                    <a href="about.html">
                        <h5 class="text-center">
                            <i class="fa fa-users"></i>
                            About Us
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="whynesadi.html">
                        <h5 class="text-center">
                            <i class="fa fa-handshake-o"></i>
                            Why Join Us
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="whynesadi.html#howtojoin">
                        <h5 class="text-center">
                            <i class="fa fa-question-circle-o"></i>
                            How to Join
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="products.html">
                        <h5 class="text-center">
                            <i class="fa fa-shopping-cart"></i>
                            Our Products
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="https://membersportal.nesadisacco.com">
                        <h5 class="text-center">
                            <i class="fa fa-user-plus"></i>
                            Register
                        </h5>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->


    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Contact Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-contact-area mb-100">
                        <!-- Logo -->
                        <a href="#" class="d-block mb-50"><img src="img/core-img/logo.png" alt=""></a>
                        <p>
                            We envision walking diligently with our members through their financial journeys by offering supportive, empowering and reliable savings, credit and investment services in order to improve their welfare and shared prosperity. We seek to become the financial partner of choice for our members
                        </p>
                    </div>
                </div>

                <!-- Single Contact Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-contact-area mb-100">
                        <div class="contact-advisor">
                            <h5>Contacts</h5>
                            <!-- Single Advisor -->
                            <p>
                                <a href="tel:+254720100768">+254 720 100 768</a>
                            </p>
                            
                            <p>
                                <a href="tel:+254720100768">+254 754 561 161</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Contact Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-contact-area mb-100">
                        <div class="contact--area contact-page">
                            <!-- Contact Content -->
                            <div class="contact-content">
                                <h5>Get in touch</h5>

                                <!-- Single Contact Content -->
                                <div class="single-contact-content d-flex align-items-center">
                                    <div class="icon">
                                        <img src="img/core-img/location.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p>P.O. Box 201-00511, <br> Ongata Rongai<br> Tuala/Oloorsirkon, Kajiado County</p>
                                    </div>
                                </div>
                                <!-- Single Contact Content -->
                                <div class="single-contact-content d-flex align-items-center">
                                    <div class="icon">
                                        <img src="img/core-img/call.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p>
                                            <a href="tel:+254720100768">+254 720 100 768</a>
                                        </p>
                                    </div>
                                </div>
                                <!-- Single Contact Content -->
                                <div class="single-contact-content d-flex align-items-center">
                                    <div class="icon">
                                        <img src="img/core-img/message2.png" alt="">
                                    </div>
                                    <div class="text">
                                        <p>
                                            <a href="mailto:inquiry@nesadisacco.com">
                                                inquiry@nesadisacco.com
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ##### Google Maps #####-->
        <div class="map-area">
            <iframe width="578" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Ongata%20Rongai&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><style>.mapouter{position:relative;text-align:right;height:500px;width:578px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:578px;}</style>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-50-0">
        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img class="sacco-logo" src="img/core-img/logo.png" alt=""></a>
                            <p class="footer-gold">
                                NESADI SACCO | We Care and Together We Can
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>