<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>NESADI SACCO - Home</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="img/core-img/logo.png" alt="" class="sacco-logo"> NESADI SACCO</a>
                        </div>
                        
                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html" class="header-active">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="whynesadi.html">Why Join Us</a></li>
                                    <li><a href="management.html">Management</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="hero-slideshow owl-carousel">

                    <!-- Single Slide -->
                    <div class="single-slide bg-img">
                        <!-- Background Image-->
                        <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/flyer.png);"></div>
                        <!-- Welcome Text -->
                        <div class="container h-100">
                            <div class="row h-100 align-items-center justify-content-center">
                                <div class="col-12 col-lg-9">
                                    <div class="welcome-text text-center">
                                        <h2 data-animation="fadeInUp" data-delay="300ms">NESADI SACCO</h2>
                                        <p data-animation="fadeInUp" data-delay="500ms">We Care and Together We Can</p>
                                        <a href="https://membersportal.nesadisacco.com/register" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Duration Indicator -->
                        <div class="slide-du-indicator"></div>
                    </div>
        
                    <!-- Single Slide -->
                    <div class="single-slide bg-img">
                        <!-- Background Image-->
                        <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/001.svg);"></div>
                        <!-- Welcome Text -->
                        <div class="container h-100">
                            <div class="row h-100 align-items-center justify-content-center">
                                <div class="col-12 col-lg-9">
                                    <div class="welcome-text text-center">
                                        <h2 data-animation="fadeInUp" data-delay="300ms">OUR PRODUCTS</h2>
                                        <p data-animation="fadeInUp" data-delay="500ms">Unique and quality products</p>
                                        <a href="products.html" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Our Products</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Duration Indicator -->
                        <div class="slide-du-indicator"></div>
                    </div>
        
                    <!-- Single Slide -->
                    <div class="single-slide bg-img">
                        <!-- Background Image-->
                        <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/logo.png);"></div>
                        <!-- Welcome Text -->
                        <div class="container h-100">
                            <div class="row h-100 align-items-center justify-content-center">
                                <div class="col-12 col-lg-9">
                                    <div class="welcome-text text-center">
                                        <h2 data-animation="fadeInUp" data-delay="300ms">HOW TO JOIN</h2>
                                        <p data-animation="fadeInUp" data-delay="500ms">Quick Guide</p>
                                        <a href="whynesadi.html#howtojoin" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">How to Join</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Duration Indicator -->
                        <div class="slide-du-indicator"></div>
                    </div>
        
        
                </div>
            </div>
            <div class="col-md-4 col-sm-12 pr-15">
                <div class="mt-10"></div>
                <div class="section-heading text-center wow fadeInUp pr-15" data-wow-delay="100ms">
                    <h2>Quick Links</h2>
                </div>
                <div class="quick-links-table pricing-table-highlighted vpr-15" data-wow-delay="200ms">
                    <div class="quick-link grd1">
                        <a href="about.html">
                            <h5 class="text-center">
                                <i class="fa fa-users"></i>
                                About Us
                            </h5>
                        </a>
                    </div>
                    <div class="quick-link grd1">
                        <a href="whynesadi.html">
                            <h5 class="text-center">
                                <i class="fa fa-handshake-o"></i>
                                Why Join Us
                            </h5>
                        </a>
                    </div>
                    <div class="quick-link grd1">
                        <a href="whynesadi.html#howtojoin">
                            <h5 class="text-center">
                                <i class="fa fa-question-circle-o"></i>
                                How to Join
                            </h5>
                        </a>
                    </div>
                    <div class="quick-link grd1">
                        <a href="products.html">
                            <h5 class="text-center">
                                <i class="fa fa-shopping-cart"></i>
                                Our Products
                            </h5>
                        </a>
                    </div>
                    <div class="quick-link grd1">
                        <a href="https://membersportal.nesadisacco.com">
                            <h5 class="text-center">
                                <i class="fa fa-user-plus"></i>
                                Register
                            </h5>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        

    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### About Us Area Start ###### -->
    <section class="services-area section-padding-50-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <div class="line"></div>
                        <h2>Who Are We?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        NESADI SACCO Ltd is a duly registered SACCO under The Co-operative  Societies Act Cap 490 of the Laws of Kenya. Registered on the 15th of September 2020, the SACCO aspires to demonstrate that with proper management practices and application of best SACCO principles it is truly possible to grow a SACCO which appeals and meets the expectations of its members.
                    </p>
                    <p>
                        We envision walking diligently with our members through their financial journeys by offering supportive, empowering and reliable savings, credit and investment services in order to improve their welfare and shared prosperity. We seek to become the financial partner of choice for our members.
                    </p>
                </div>
            </div>

            <div class="row">
                
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-50 wow fadeInUp" data-wow-delay="200ms">
                        <div class="text">
                            <h5 class="text-center">VISION</h5>
                            <p class="text-center">
                                <img class="icon-img" src="img/core-img/vision.png">
                            </p>
                            <p>
                                To be a most supportive, empowering and reliable financial partner of choice for our members. We envision walking diligently with our members through their financial journeys.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-50 wow fadeInUp" data-wow-delay="300ms">
                        <div class="text">
                            <h5  class="text-center">MISSION</h5>
                            <p class="text-center">
                                <img class="icon-img" src="img/core-img/mission.png">
                            </p>
                            <p>
                                To improve the welfare of members through reasonable savings, affordable credit, prudent investments, wealth creation, moral support and compassionate companionship in an ethical, effective, efficient, creative, transparent and friendly manner.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-50 wow fadeInUp" data-wow-delay="400ms">
                        <div class="text">
                            <h5  class="text-center">OUR PHILOSOPHY</h5>
                            <p class="text-center">
                                <img class="icon-img" src="img/core-img/philosophy.png">
                            </p>
                            <p>
                                We are not just a SACCO; We are also a family of Savers, Borrowers, Investors, Innovators, Creative Thinkers and above all Brothers and Sisters who care for one another. We also care for our communities and the natural environment around us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    <!-- ##### About Us Area End ###### -->

    <!-- ##### Call to action Area Start ###### 
    <section class="newsletter-area section-padding-100 bg-img jarallax mt-50" style="background-image: url(img/bg-img/flyer.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="nl-content text-center">
                        <h2>JOIN NESADI SACCO</h2>
                        <div class="cta-btn row align-items-center">
                            <a href="about.html" class="btn credit-btn box-shadow">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    ##### Call to action Area End ###### -->

    <!-- ##### Services Area Start ###### -->
    <section class="services-area section-padding-50-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <div class="line"></div>
                        <h2>Our Products</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <p class="text-center">
                            <img src="img/core-img/development.png" alt="Development Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Development Loan</h5>
                            <h5 class="text-center">(NDL)</h5>
                        </div>
                        <div class="pricing-table-features">
                            <p>
                                Meant for development purposes e.g. buying a plot, house, car, motorcycle, bicycle, business or ukulima project start-ups or expansion of existing projects, construction, extensive car repairs, etc.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#development" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <p class="text-center">
                            <img src="img/core-img/emergency.jpg" alt="Emergency Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Emergency Loan</h5>
                            <h5 class="text-center">(NEL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed for unforeseen circumstances such as rent, urgent travel, sickness, utility payments, family upkeep in the event of disruption of income flow, etc.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#emergency" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="400ms">
                        <p class="text-center">
                            <img src="img/core-img/education.png" alt="Education Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Masomo Loan</h5>
                            <h5 class="text-center">(NML)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to help members, their children or other dependants empower through conventional education, specialized short-courses or business tailored training programmes to enable you start a certain business or improve an existing one.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#education" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="400ms">
                        <p class="text-center">
                            <img src="img/core-img/holiday.png" alt="Holiday Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Events & Holiday Savings Scheme</h5>
                            <h5 class="text-center">(NEHOSS)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to help members save for holidays, events or festive seasons like Christmas, Birthdays, Weddings, Anniversaries, etc. 
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#holiday" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <p class="text-center">
                            <img src="img/core-img/lpo.png" alt="LPO Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi LPO financing</h5>
                            <h5 class="text-center">(NLPO)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to support our members who are in the business of procurement and supply of items to various entities. If a member has got an LPO to supply an item(s) but the member doesn’t have the necessary capital to procure, they can approach the SACCO and ask to partner with the SACCO.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#lpofinancing" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <p class="text-center">
                            <img src="img/core-img/mloan.png" alt="Mloan Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Automatic M-Loan</h5>
                            <h5 class="text-center">(NAML)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to help members deal with short-term challenges requiring small amounts of money.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#mloan" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <p class="text-center">
                            <img src="img/core-img/bussines-loan.png" alt="Business Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Business Loan</h5>
                            <h5 class="text-center">(NBL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to support our members who are in business.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#business" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="300ms">
                        <p class="text-center">
                            <img src="img/core-img/medical.png" alt="Medical Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Medical Insurance Cover Loan</h5>
                            <h5 class="text-center">(NMICL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to help our members pay for family or individual medical covers to reduce the financial burdens in the unfortunate event of sicknesses.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#medical" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="500ms">
                        <p class="text-center">
                            <img src="img/core-img/talent.png" alt="Talent Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Talent, Innovation and Creativity Loan</h5>
                            <h5 class="text-center">(NTICL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to promote the conversion of talents, innovativeness and creativity into an economic enterprise.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#talent" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="500ms">
                        <p class="text-center">
                            <img src="img/core-img/car-insurance.png" alt="Car Insurance Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Automobiles Insurance Cover Loan</h5>
                            <h5 class="text-center">(NAICL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to help our members pay for automobiles insurance covers such as a motor vehicle, motorcycles, etc.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#carcover" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="400ms">
                        <p class="text-center">
                            <img src="img/core-img/remittance.png" alt="Remittance Loan Image" class="product-image">
                        </p>
                        <div class="pricing-table-header">
                            <h5 class="text-center">Nesadi Remittance Transmission to Third parties</h5>
                            <h5 class="text-center">(NRTT)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                Designed to help a member (especially those in the diaspora) send money to a third party: member or non-member when the member doesn’t have the money immediately.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="products.html#remittance" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                



            </div>
        </div>
    </section>
    <!-- ##### Services Area End ###### -->


    <section class="services-area section-padding-50-0">
      <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>
                    <h2>Board Members</h2>
                </div>
            </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
                
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/ringine.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Kimathi C. M’Ringine</span>
                                <br>
		                        <span class="position">Chairman</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/kisae.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Rev. Dickson N. Kisae</span>
                                <br>
		                        <span class="position">Vice-Chairman</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/gikunda.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Patrick M. Gikunda</span>
                                <br>
		                        <span class="position">Secretary</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/mitine.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Mercy G. Mitine</span>
                                <br>
		                        <span class="position">Treasurer/Fin&A/Cs</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/bridget.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Bridget K. Mwebia</span>
                                <br>
		                        <span class="position">Admin/Operations/Records</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/mbugus.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Lawson K. Mbugguss</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/omondi.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Fred Omondi Banja</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/ester.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Esther Ikiara</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/kakai.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Reuben Kakai</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/joy.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Joy K. Gulliver</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/arimi.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Dr. S. M. Arimi</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/marete.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Onesmus T. Marete</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              

              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/amanja.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Dr. Daniel M. Amanja</span>
                                <br>
                                <span class="position">Patron</span>
                            </p>
                          </div>
                      </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-50-0">
        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img class="sacco-logo" src="img/core-img/logo.png" alt=""></a>
                            <p class="footer-gold">
                                NESADI SACCO | We Care and Together We Can
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>