<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>NESADI SACCO - Products</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <link rel="apple-touch-icon" href="img/core-img/icon-192x192.png"/>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
      <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZKHPBQDMVP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZKHPBQDMVP');
  </script>

</head>

<body>

        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="img/core-img/logo.png" alt="" class="sacco-logo"> NESADI SACCO</a>
                        </div>
                        
                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="products.html">Products</a></li>
                                        <li><a href="whynesadi.html">Why Join Us</a></li>
                                        <li><a href="management.html" class="header-active">Management</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="https://membersportal.nesadisacco.com/?returnUrl=%2Flogin">
                                            <i class="fa fa-sign-in"></i>
                                            Login
                                        </a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                        </div>

                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <section class="breadcrumb-area bg-img header-img-overlay" style="background-image: url(img/bg-img/header.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2>Management</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Management</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-sm-12 pr-15">
            <div class="mt-5"></div>
            <div class="section-heading text-center wow fadeInUp pr-15" data-wow-delay="100ms">
                <h2>Quick Links</h2>
            </div>
            <div class="quick-links-table pricing-table-highlighted vpr-15" data-wow-delay="200ms">
                <div class="quick-link grd1">
                    <a href="about.html">
                        <h5 class="text-center">
                            <i class="fa fa-users"></i>
                            About Us
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="whynesadi.html">
                        <h5 class="text-center">
                            <i class="fa fa-handshake-o"></i>
                            Why Join Us
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="whynesadi.html#howtojoin">
                        <h5 class="text-center">
                            <i class="fa fa-question-circle-o"></i>
                            How to Join
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="https://membersportal.nesadisacco.com">
                        <h5 class="text-center">
                            <i class="fa fa-user-plus"></i>
                            Register
                        </h5>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <div class="container mt-10">
        <div class="row">
            <div class="col-12 mb-50">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>Management</h2>
                </div>
                <p>
                    The management structure of NESADI SACCO is consistent with the law, By-Laws and the best recommended management practices in the SACCOs subsector nationally and internationally.
                </p>
                <p>
                    We aspire to further perfect the good management practices so as to serve our members in the best ways possible. As expected and is the norm, the top decision making organ of NESADI SACCO is the Annual or Special General Meeting of members followed by the Board of Directors (BOD) and then the day-to-day management team of the SACCO led by the Chairman and advised by the Patron. The management of NESADI SACCO as currently constituted comprises of the following positions and their current holders;
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-50">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>Management Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/amanja.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Dr. Daniel M. Amanja</span>
                                <br>
                                <span class="position">Patron</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/ringine.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Kimathi C. M’Ringine</span>
                                <br>
                                <span class="position">Chairman</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/kisae.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Rev. Dickson N. Kisae</span>
                                <br>
                                <span class="position">Vice-Chairman</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/gikunda.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Patrick M. Gikunda</span>
                                <br>
                                <span class="position">Secretary</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/mitine.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Mercy G. Mitine</span>
                                <br>
                                <span class="position">Treasurer / Head of Finance & Accounts</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/bridget.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Bridget K. Mwebia</span>
                                <br>
                                <span class="position">Administrator/ Head of Operations & Records</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/christine.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Christine N. Solomon</span>
                                <br>
                                <span class="position">Assisting Administrator/ Head of Operations & Records</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/magiri.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Alice K. Magiri</span>
                                <br>
                                <span class="position">Head of  Products, Loans, Investments & Risk Management advisory Committee</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/dianah.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Dianah G. Guantai</span>
                                <br>
                                <span class="position">Assisting Head of  Products, Loans, Investments & Risk Management advisory Committee</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/aweyo.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Jim Aweyo</span>
                                <br>
                                <span class="position">Head of Education, Training, Research & Development advisory Committee</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/koome.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Gideon Koome</span>
                                <br>
                                <span class="position">Head of  Internal Audit & Risk Compliance Committee</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/nteere.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Benson M. Nteere</span>
                                <br>
                                <span class="position">Assisting Head of  Internal Audit & Risk Compliance Committee</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/muthomi.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Remus T. Muthomi</span>
                                <br>
                                <span class="position">Head of  ICT</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/agoya.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Duncan M. Agoya</span>
                                <br>
                                <span class="position">Assisting Head of  ICT</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/muriungi.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Eric Muriungi</span>
                                <br>
                                <span class="position">Assisting Head of  ICT</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/mela.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Andrew Mela</span>
                                <br>
                                <span class="position">Assisting Head of  ICT</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/mercy.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name"> Mercy M. M’Ibari</span>
                                <br>
                                <span class="position">Head of  Marketing, Sales  & Business Development</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/oduk.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Victor Oduk</span>
                                <br>
                                <span class="position">Assisting Head of  Marketing, Sales  & Business Development</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/nyamu.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Julia G. Nyamu </span>
                                <br>
                                <span class="position">Assisting Head of Marketing, Sales  & Business Development (Meru)</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/gikunda.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Patrick M. Gikunda</span>
                                <br>
                                <span class="position">Head of Debts Tracking & Collections</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/kuria.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Lilian K. Kuria</span>
                                <br>
                                <span class="position">Assisting Head of Debts Tracking & Collections</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/mbugus.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Lawson Kamau Mbuguss (UK)</span>
                                <br>
                                <span class="position">Head of Diaspora Liaisons, Enrollments and Operations</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/ester.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Esther Ikiara</span>
                                <br>
                                <span class="position">Diaspora Liaisons, Enrollments and Operations (US)</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/marete.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Onesmus T. Marete</span>
                                <br>
                                <span class="position">Diaspora Liaisons, Enrollments and Operations (Rwanda)</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/kakai.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Reuben Kakai</span>
                                <br>
                                <span class="position">Head of Social Affairs advisory committee</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/naito.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Hellen Naito</span>
                                <br>
                                <span class="position">Assisting Head of Social Affairs advisory committee</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/mbugua.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Harris N. Mbugua</span>
                                <br>
                                <span class="position">Head of Collaborations advisory committee</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="row">
            <div class="col-12 mb-50">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>Board Members</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/amanja.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Dr. Daniel M. Amanja</span>
                                <br>
                                <span class="position">Patron</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/ringine.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Kimathi C. M’Ringine</span>
                                <br>
                                <span class="position">Chairman</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/kisae.png)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Rev. Dickson N. Kisae</span>
                                <br>
                                <span class="position">Vice-Chairman</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/gikunda.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Patrick M. Gikunda</span>
                                <br>
                                <span class="position">Secretary</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/mitine.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Mercy G. Mitine</span>
                                <br>
                                <span class="position">Treasurer / Head of Finance & Accounts</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap">
                    <div class="text">
                    <div class="d-flex align-items-center">
                        <div class="user-img" style="background-image: url(img/people/bridget.jpg)"></div>
                        <div class="pl-3">
                            <p>
                                <span class="name">Bridget K. Mwebia</span>
                                <br>
                                <span class="position">Admin/ Operations/ Records</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/mbugus.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Lawson K. Mbugguss</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/omondi.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Fred Omondi Banja</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/ester.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Esther Ikiara</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/kakai.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Reuben Kakai</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/joy.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Joy K. Gulliver</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/arimi.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Dr. S. M. Arimi</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/marete.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Onesmus T. Marete</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>

        </div>

      
    </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-50-0">
        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img class="sacco-logo" src="img/core-img/logo.png" alt=""></a>
                            <p class="footer-gold">
                                NESADI SACCO | We Care and Together We Can
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>