<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>NESADI SACCO - Products</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <link rel="apple-touch-icon" href="img/core-img/icon-192x192.png"/>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

      <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZKHPBQDMVP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZKHPBQDMVP');
  </script>
</head>

<body>

        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="img/core-img/logo.png" alt="" class="sacco-logo"> NESADI SACCO</a>
                        </div>
                        
                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                                 <!-- Nav Start -->
                                 <div class="classynav">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="products.html" class="header-active">Products</a></li>
                                        <li><a href="whynesadi.html">Why Join Us</a></li>
                                        <li><a href="management.html">Management</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="https://membersportal.nesadisacco.com/?returnUrl=%2Flogin">
                                            <i class="fa fa-sign-in"></i>
                                            Login
                                        </a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                        </div>

                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <section class="breadcrumb-area bg-img header-img-overlay" style="background-image: url(img/bg-img/header.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2>Products</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Products</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-sm-12 pr-15">
            <div class="mt-5"></div>
            <div class="section-heading text-center wow fadeInUp pr-15" data-wow-delay="100ms">
                <h2>Quick Links</h2>
            </div>
            <div class="quick-links-table pricing-table-highlighted vpr-15" data-wow-delay="200ms">
                <div class="quick-link grd1">
                    <a href="about.html">
                        <h5 class="text-center">
                            <i class="fa fa-users"></i>
                            About Us
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="whynesadi.html">
                        <h5 class="text-center">
                            <i class="fa fa-handshake-o"></i>
                            Why Join Us
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="whynesadi.html#howtojoin">
                        <h5 class="text-center">
                            <i class="fa fa-question-circle-o"></i>
                            How to Join
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="https://membersportal.nesadisacco.com">
                        <h5 class="text-center">
                            <i class="fa fa-user-plus"></i>
                            Register
                        </h5>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- #### products Body Start -->
    <div class="container mt-10">
        <div class="row">
            <div class="col-12 mb-50">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>Our Products</h2>
                </div>
                <p>
                    Our financial products range and their unique features are listed below. We are committed to continuous improvement of the range and quality of our products.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div id="development" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Development Loan</h5>
                        <h5 class="text-center">(NDL)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/development.png" alt="Development Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Meant for development purposes e.g. buying a plot, house, car, motorcycle, bicycle, business or ukulima project start-ups or expansion of existing projects, construction, extensive car repairs, etc.
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        This Loan is granted at a maximum of 3 times the member’s total savings.
                                    </li>
                                    <li>
                                        This Loan is repayable within your requested (and approved) period but not exceeding 3 years.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">
                                <li>
                                    Must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    To qualify, one must have cleared all outstanding loans with the SACCO.
                                </li>
                                <li>
                                    This Loan attracts a low 10% interest rate calculated monthly on a reducing balance method.
                                </li>
                                <li>
                                    1% Processing fee charged only once
                                </li>
                                <li>
                                    Top-up of this loan (refinancing) is possible but depends on an individual member’s repayment history.
                                </li>
                                <li>
                                    Guarantor(s) needed for this type of loan. Guarantors must be fully registered members with enough shares to collectively guarantee the entire loan applied for.
                                </li>
                                <li>
                                    No hidden charges
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="emergency" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Emergency Loan</h5>
                        <h5 class="text-center">(NEL)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/emergency.jpg" alt="Emergency Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed for unforeseen circumstances such as rent, urgent travel, sickness, utility payments, family upkeep in the event of disruption of income flow, etc.
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        Maximum amount is negotiable depending on circumstances but not more than double the member’s savings except in special circumstances presented and approved by the management.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">
                                <li>
                                    Processed and approved as a matter of urgency within a few minutes or hours provided the set requirements are met.
                                </li>
                                <li>
                                    Must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    Maximum repayment period of one year
                                </li>
                                <li>
                                    Interest rate of 12% calculated monthly
                                </li>
                                <li>
                                    1% Processing fee charged only once
                                </li>
                                <li>
                                    Guarantor(s) needed for this type of loan
                                </li>
                                <li>
                                    No hidden charges
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div id="education" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Masomo Loan</h5>
                        <h5 class="text-center">(NML)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/education.png" alt="Education Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to help members, their children or other dependants empower through conventional education (e.g. primary/ secondary/ college/ university etc.), specialized short-courses to boost your career or increase your job opportunities and business tailored training programmes to enable you start a certain business or improve an existing one.
                                </p>
                                
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">
                                <li>
                                    Payable directly to the school/ institution/ organization as per the details provided by the borrower. By paying directly to the school/ institution/ organization the SACCO deliberately seeks to prevent diversion of such funds to other uses which do not reasonably empower your future.
                                </li>
                                <li>
                                    Maximum amount-negotiable depending on circumstances/ needs but not more than double the member’s savings except on special requests presented to and approved by the management.
                                </li>
                                <li>
                                    Maximum repayment period of one year
                                </li>
                                <li>
                                    Interest rate of 8.5% calculated monthly
                                </li>
                                <li>
                                    1% Processing fee charged only once
                                </li>
                                <li>
                                    Must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    Guarantor(s) needed for this type of loa
                                </li>
                                <li>
                                    No hidden charges
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="holiday" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Events & Holiday Savings Scheme</h5>
                        <h5 class="text-center">(NEHOSS)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/holiday.png" alt="Holiday Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to help members save for holidays, events or festive seasons like Christmas, Birthdays, Weddings, Anniversaries, etc. 
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        The member opens a separate NEHOSS Account with the SACCO. This account is separate from the ordinary account.
                                    </li>
                                    <li>
                                        Make holiday/ event savings of any amount but the monthly total should not be less than KShs. 500.
                                    </li>
                                    <li>
                                        Your holiday savings will earn you 8% interest per annum and paid back (including interest) to the member by the date requested.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">
                                
                                <li>
                                    The member must have contributed towards this account for at least four (4) months before beginning to withdraw from it. A member can withdraw all or any amount from this account anytime and from anywhere. All you need is to login into your account, complete and submit an application online and within minutes you receive the money via mobile money.
                                </li>
                                <li>
                                    Members may withdraw all or part of the holiday savings anytime. 
                                </li>
                                <li>
                                    To enjoy this privilege, one must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    A member can open this type of an account for a non-member beneficiary but only the member can withdraw on behalf of the non-member.
                                </li>
                                <li>
                                    1% processing fee  for any withdrawal requested
                                </li>
                                <li>
                                    No hidden charges
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div id="mloan" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Automatic M-Loan</h5>
                        <h5 class="text-center">(NAML)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/mloan.png" alt="Mloan Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to help members deal with short-term challenges requiring small amounts of money.
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        This loan is automatic upon application-processed within minutes.
                                    </li>
                                    <li>
                                        No Guarantor(s) needed for this type of loan.
                                    </li>
                                    <li>
                                        Member can borrow up to a maximum of 10% of his/her savings.
                                    </li>
                                    <li>
                                        Member receives the money instantly subject to verification and a confirmation call.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">                                
                                <li>
                                    Interest rate of 12% calculated monthly. 
                                </li>
                                <li>
                                    Can be applied for anytime.
                                </li>
                                <li>
                                    Maximum repayment period is four (4) months.
                                </li>
                                <li>
                                    If not repaid within four (4) months the balance inclusive of interest shall be recovered from the member’s savings.
                                </li>
                                <li>
                                    Three consecutive recoveries from savings shall lead to a management disciplinary action such as suspending the facility for the member for an agreed period of time.
                                </li>
                                <li>
                                    Must be an active and contributing member for atleast three months.
                                </li>
                                <li>
                                    1% processing fee charged only once.
                                </li>
                                <li>
                                    No hidden charges.
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="business" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Business Loan</h5>
                        <h5 class="text-center">(NBL)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/bussines-loan.png" alt="Business Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to support our members who are in business.
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        Designed to be short-term in nature.
                                    </li>
                                    <li>
                                        Maximum amount-negotiable depending on business needs and circumstances.
                                    </li>
                                    <li>
                                        Duration of repayment will vary depending on the nature of business to be undertaken but basically it will range from few days to three (3) months.
                                    </li>
                                    <li>
                                        Borrower must demonstrate satisfactorily how they will use the money, earn and pay the loan. 
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">                                
                                <li>
                                    In consultation with the borrower, management will decide whether Payments will be lump sums or installments depending on a wide range of considerations.
                                </li>
                                <li>
                                    Interest rate will range from 12% to 15% calculated monthly depending of the amounts to be borrowed, duration, location, borrower’s reputation and the risk involved among others.
                                </li>
                                <li>
                                    Guarantor(s) needed for this type of loan.
                                </li>
                                <li>
                                    Processed and approved as a matter of urgency provided other considerations are met.
                                </li>
                                <li>
                                    Must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    1% processing fee for any amount borrowed.
                                </li>
                                <li>
                                    No hidden charges.
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div id="medical" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Medical Insurance Cover Loan</h5>
                        <h5 class="text-center">(NMICL)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/medical.png" alt="Medical Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to help our members pay for family or individual medical covers to reduce the financial burdens in the unfortunate event of sicknesses.
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        Paid directly to the medical cover provider as advised by the member
                                    </li>
                                    <li>
                                        Where possible the SACCO will provide advice regarding the most suitable cover provider based on available information but is not legally bound by such advice. The ultimate duty of choosing the appropriate cover provider rests with the member.
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">   
                                <li>
                                    Maximum amount-negotiable depending on the cover but not more than double the member’s savings except in special circumstances presented and approved by the management.
                                </li>
                                <li>
                                    Processed as a matter of urgency provided requirements are met. 
                                </li>                             
                                <li>
                                    Must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    Maximum repayment period is six (6) months.
                                </li>
                                <li>
                                    Interest rate of 10.5% calculated monthly and 1% Processing fee charged only once.
                                </li>
                                <li>
                                    Guarantor(s) needed for this type of loan.
                                </li>
                                <li>
                                    No hidden charges.
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div id="carcover" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Automobiles Insurance Cover Loan</h5>
                        <h5 class="text-center">(NAICL)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/car-insurance.png" alt="Car Insurance Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to help our members pay for automobiles insurance covers such as a motor vehicle, motorcycles, etc.
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        Paid directly to the insurance cover provider as advised by the member
                                    </li>
                                    <li>
                                        Where possible the SACCO will provide advice regarding the most suitable cover provider based on available information but is not legally bound by such advice. The ultimate duty of choosing the appropriate cover provider rests with the member.
                                    </li>
                                     
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">   
                               
                                <li>
                                    Maximum amount-negotiable depending on the cover but not more than double the member’s savings except in special circumstances presented and approved by the management.
                                </li>
                                <li>
                                    Processed as a matter of urgency provided requirements are met. 
                                </li>  
                                <li>
                                    Processed as a matter of urgency provided requirements are met. 
                                </li>                             
                                <li>
                                    Must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    Maximum repayment period is six (6) months.
                                </li>
                                <li>
                                    Interest rate of 12% calculated monthly and 1% Processing fee charged only once.
                                </li>
                                <li>
                                    Guarantor(s) needed for this type of loan.
                                </li>
                                <li>
                                    No hidden charges.
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="talent" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Talent, Innovation and Creativity Loan</h5>
                        <h5 class="text-center">(NTICL)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/talent.png" alt="Talent Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to promote the conversion of talents, innovativeness and creativity into an economic enterprise.
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        Advanced to members who can demonstrate they have a potential talent/creativity that can become an economic enterprise if supported and nurtured.
                                    </li>
                                    <li>
                                        Member must submit a brief typed summary of the talent/creativity and how he/she intends to convert it into an economic enterprise.
                                    </li>
                                     
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">   
                               
                                <li>
                                    Where possible the SACCO will provide supportive advice regarding the venture.
                                </li>
                                <li>
                                    Processed as a matter of urgency provided requirements are met. 
                                </li>  
                                <li>
                                    Maximum amount-negotiable depending on the nature of the intended venture but not more than double the member’s savings except in special circumstances presented and approved by the management. 
                                </li>                             
                                <li>
                                    Must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    Maximum repayment period is one (1) year.
                                </li>
                                <li>
                                    Interest rate of 10.5% calculated monthly and 1% Processing fee charged only once.
                                </li>
                                <li>
                                    Guarantor(s) needed for this type of loan.
                                </li>
                                <li>
                                    No hidden charges.
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div id="remittance" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi Remittance Transmission to Third parties</h5>
                        <h5 class="text-center">(NRTT)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/remittance.png" alt="Remittance Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to help a member (especially those in the diaspora) send money to a third party: member or non-member (mainly relatives, friends, accomplices, employees/ workers or a business partner(s) or entity(ies) when the member doesn’t have the money immediately.
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        The money is sent/paid directly to the recipient as advised by the member.
                                    </li>
                                    <li>
                                        The money sent to the third party is treated as a loan to the member.
                                    </li>
                                     
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">   
                               
                                <li>
                                    Member will repay the money paid to the third party at a later date.
                                </li>
                                <li>
                                    Maximum amount-negotiable but not more than 40% of the member’s savings except in special circumstances presented and approved by the management. 
                                </li>                           
                                <li>
                                    Must have been a member for at least 3 months making monthly contributions.
                                </li>
                                <li>
                                    Maximum repayment period is four (4) months.
                                </li>
                                <li>
                                    Interest rate of 12% calculated monthly and 1% Processing fee charged only once
                                </li>
                                <li>
                                    No guarantors needed for this loan, the guarantee is your savings.
                                </li>
                                <li>
                                    No hidden charges.
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div id="lpofinancing" class="single-product">
                    <div class="product-name">
                        <h5 class="text-center">Nesadi LPO financing</h5>
                        <h5 class="text-center">(NLPO)</h5>
                    </div>
                    <div class="single-product-details">
                        <div class="product-highlights">
                            <div class="product-img">
                                <img src="img/core-img/lpo.png" alt="LPO Loan Image">
                            </div>
                            <div class="product-description">
                                <p>
                                    Designed to support our members who are in the business of procurement and supply of items to various entities. If a member has got an LPO to supply an item(s) but the member doesn’t have the necessary capital to procure, they can approach the SACCO and ask to partner with the SACCO.
                                    <br>If the request is approved the SACCO will;
                                    <ol class="product-details-items">
                                        <li>
                                            • Provide the required funds,
                                        </li>
                                        <li>
                                            • Procure the said items in consultation with the member and deliver to the client. Note that the SACCO will not transfer the said funds to the member; instead the SACCO will itself pay the supplier and will jointly deliver the items to the client.
                                        </li>
                                    </ol>
                                </p>
                                <ul class="product-details-items">
                                    <li>
                                        For this arrangement to work, the said member must from the onset request the client to address the LPO (order to supply) to NESADI SACCO LIMITED and thereafter sign contractual agreement with the SACCO on the terms and conditions.
                                    </li>
                                    <li>
                                        10% interest on the loan (amount required to service the LPO) to be deducted from the profits made upon servicing the LPO.
                                    </li>  
                                </ul>
                            </div>
                        </div>
                        <div class="product-details">
                            <ul class="product-details-items">
                                  
                                <li>
                                    The agreement will among others specify that one; The LPO will be addressed to NESADI SACCO LIMITED, two; The SACCO will provide the funds requested by the member to complete the supply, three; Once the client has paid the SACCO will first recover the loaned cost of supplying the order and a small share of the profit currently agreed as 25% of the profit.
                                </li>
                                <li>
                                    The rest of the profit (70%) will be transferred to the member. The percentage of profit retained by the SACCO is not static as it be discussed and agreed between the member and SACCO. 
                                </li>                                
                                <li>
                                    Designed to be short-term in nature ranging from days, weeks to not more than three (3) months.
                                </li>
                                <li>
                                    Maximum amount-negotiable depending on information supplied by member.
                                </li>
                                <li>
                                    1% processing fee for any amount borrowed (the total cost of financing the LPO unless otherwise agreed) and is charged only once, and will be deducted from the profit made. <span style="color: red;">Note:</span> Member NOT required to pay in advance.
                                </li>
                                <li>
                                    In the event that a member is interested in financing a foreign purchasing order, such a request will be deliberated upon by management and concerned member and an appropriate decision arrived at.
                                </li>
                                <li>
                                    In the event that a member is able to raise part of the cost of financing an LPO or a foreign purchasing order, such a request will be deliberated upon by management and concerned member and an appropriate decision arrived at.
                                </li>
                                <li>
                                    No hidden charges.
                                </li>
                                <li>
                                    For more information about this facility contact our staff.
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-50-0">
        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img class="sacco-logo" src="img/core-img/logo.png" alt=""></a>
                            <p class="footer-gold">
                                NESADI SACCO | We Care and Together We Can
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>