<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>NESADI SACCO - Why Join</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>

        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="img/core-img/logo.png" alt="" class="sacco-logo"> NESADI SACCO</a>
                        </div>
                        
                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="whynesadi.html" class="header-active">Why Join Us</a></li>
                                    <li><a href="management.html">Management</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <section class="breadcrumb-area bg-img header-img-overlay" style="background-image: url(img/bg-img/header.png);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2>Why Join NESADI</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Why Join</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4 col-sm-12 pr-15">
            <div class="mt-10"></div>
            <div class="section-heading text-center wow fadeInUp pr-15" data-wow-delay="100ms">
                <h2>Quick Links</h2>
            </div>
            <div class="quick-links-table pricing-table-highlighted vpr-15" data-wow-delay="200ms">
                <div class="quick-link grd1">
                    <a href="about.html">
                        <h5 class="text-center">
                            <i class="fa fa-users"></i>
                            About Us
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="products.html">
                        <h5 class="text-center">
                            <i class="fa fa-shopping-cart"></i>
                            Our Products
                        </h5>
                    </a>
                </div>
                <div class="quick-link grd1">
                    <a href="https://membersportal.nesadisacco.com">
                        <h5 class="text-center">
                            <i class="fa fa-user-plus"></i>
                            Register
                        </h5>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <div class="container mt-10">
        <div class="row">
            <div class="col-12 mb-15 pt-15">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h2>Why join NESADI SACCO? </h2>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="200ms">
                <p>
                    Without appearing to brag, we at NESADI SACCO are proud to have set in motion resolutions, actions and strategies to ensure that we are exceptionally a member-centered SACCO, devoted to walking diligently with our members through their financial journeys by offering timely, supportive, empowering and reliable savings, credit and investment services in order to improve their welfare and shared prosperity. 
                </p>
                <p>
                    We seek to become the financial partner of choice for our members. The needs of our members are the number one priority and reason for our existence.
                </p>
                <p>
                    <strong>More specifically;</strong> We are straightforward - No time-wasting bureaucracy. We continuously strive to ensure that we cut down on the time it takes to process a member’s request/application. This resolve is informed by the unfortunate knowledge that many SACCOs have perfected the art of bureaucracy whose unfortunate effect is to keep a member trapped in endless cycles of processes and demands a member is left frustrated with the requested service either delayed or denied. At NESADI SACCO our responses will be forthright.
                </p>
                <p>
                    We take the shortest time possible to attend to your request or application
                </p>
                <p>
                    We are almost a 100% paperless. No need for collection, filling and returning of voluminous hard-copy forms! We have set out to develop a secure digital SACCO system that allows you to interact with the SACCO easily and stress free via your computer or mobile phone. 
                </p>
                <p>
                    You will simply need to login-in into our system, click the service you want, complete the necessary online form(s) and click SUBMIT and instantly we receive your application or request.
                </p>
                <p>
                    We will review, approve or decline by the click of a button and within the shortest time possible you get the response from us via SMS/ email.
                </p>
                <p>
                    Where necessary we will make an instant call to you to further discuss your request. 
                </p>
                <p>
                    Where the service sought involves transfer of <strong>money</strong> to you or any <strong>fundamental change</strong> to your account, we shall <strong style="color: red;">ALWAYS</strong> call you before sending the money to you or effecting any fundamental change to your account to ensure that we are dealing with the right applicant with the right information, thus eliminating chances of forgery.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                <p>
                    This <strong>digitalization</strong> of our SACCO system from the word go will save you time, provide you with the <span style="text-decoration: underline;">convenience of dealing with NESADI SACCO from anywhere in the world.</span>
                </p>
                <p>
                    Your geographical location should never again be an obstacle to your desire to join and be served by a caring SACCO.
                </p>
                <p>
                    Easy payment method when paying your registration or monthly/ regular contributions to NESADI SACCO by simply using your mobile money such as going to Safaricom’s LIPA NA MPESA, entering our (NESADI SACCO) <span style="background-color: #008000; color: seashell;"><strong>paybill 4046247</strong></span>, then entering your membership number when prompted to enter account number , then enter your pin and tap the send/pay button and you are done. You will in a matter of seconds receive an SMS from the paybill system telling you have made the payment to NESADI SACCO, inclusive of the reference and other payment details. The next thing is just forward the payment SMS to us for verification. 
                </p>
                <p>
                    Reasonable interest rates charged for our products.
                </p>
                <p>
                    Reasonable payment durations and schedules.
                </p>
                <p>
                    We provide room for discussion with NESADI SACCO management to reschedule loans payments or refinance loans where applicable.
                </p>
                <p>
                    Availability of a wide range of financial products from which to choose the one that suites your needs. We commit to continuously review our products with a focus to making them more favourable to our members and where possible introduce new products for your selection.
                </p>
                <p>
                    A very low and reasonable membership registration fee of just 1,000 Kenya shillings and the freedom to decide your monthly, weekly or daily contribution amounts to build your savings as long as the minimum payable monthly is not below 500 Kenya shillings.
                </p>
                <p>
                    You can make payments towards boosting your shares/savings any time you feel like, even if it’s more than once or twice in a month.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="200ms">
                
                <p>
                   <strong style="color: red;">We have consciously and deliberately banned the use of hard-cash transactions when dealing NESADI SACCO.</strong> Instead we direct that all transactions between the SACCO, members or any other third parties be made through the provided paybill number and where the amount is higher than allowed by mobile money providers..the funds will be channeled directly to bank accounts. This is aimed at eliminating possibilities of misuse and/or theft of any monies belonging to members or the SACCO. 
                   <span style="color: red;">NEVER GIVE CASH MONEY TO ANY MEMBER OF OUR STAFF OR AGENTS INTENDED AS PAYMENTS TO THE SACCO. SIMPLY PAY DITECTLY TO THE BANK BY USE OF PAYBILL NUMBERS.</span> The work of the member of staff or agent is simply to guide you so that you can pay yourself directly to the bank via the paybill number.
                </p>
                <p>
                    We have also resolved to live by and serve our clients according to the SACCO values we have stated earlier in this bulletin such as honesty, accountability, reliability, timeliness, fairness, respect for all, etc.
                </p>
                <p>
                    Last but very important, as stated in our philosophy, 
                    <strong>
                        We are not just a SACCO; We are also a family of Savers, Borrowers, Investors, Innovators, Creative Thinkers and above all Brothers and Sisters who care for one another. We encourage our members/staff to always seek to strengthen the bonds between ourselves, morally or otherwise, and support fellow members who may be going through difficult situations. Accordingly, when you have good news we encourage you to share with the family so that together we can celebrate your happiness. Let’s encourage, support and promote creativity and innovation by our fellow members. In as much as we should also take good care of our Natural Environment around us for a better tomorrow.
                    </strong>
                </p>
            </div>
        </div>
    </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-50-0">
        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img class="sacco-logo" src="img/core-img/logo.png" alt=""></a>
                            <p class="footer-gold">
                                NESADI SACCO | We Care and Together We Can
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>