<section class="site-section section-bg">
  <div class="section-header">
    <h2 class="section-title">
      Our Products
    </h2>
  </div>
  <div class="section-content">
    <p style="text-align: center;">
      Our financial products range and their unique features are listed below.<br>
      We are committed to continuous improvement of the range and quality of our products.
    </p>
    <div class="product-section-cards">
      <div class="product-section-card">
        <div class="product-section-card-title">
          Development Loan
        </div>
        <div class="product-section-card-text">
          <ul>
            <li>Meant for development purposes e.g. buying a plot / house / car / business / construction</li>
            <li>This Loan is granted at a maximum of 3 times the member’s total savings.</li>
            <li>This Loan is repayable within your requested period but not exceeding 3 years.</li>
            <li>This Loan attracts a low 1% interest rate per month (12% per annum) on a reducing balance method.</li>
          </ul>
        </div>
      </div>
      <div class="product-section-card">
        <div class="product-section-card-title">
          Emergency Loan
        </div>
        <div class="product-section-card-text">
          <ul>
            <li>Designed for unforeseen circumstances.</li>
            <li>Maximum amount-negotiable depending on circumstances.</li>
            <li>Interest rate of 1.25% per month.</li>
            <li>Maximum repayment period of 12 months.</li>
          </ul>
        </div>
      </div>
      <div class="product-section-card">
        <div class="product-section-card-title">
          Educational Loan
        </div>
        <div class="product-section-card-text">
          <ul>
            <li>Designed for fees payments.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
