<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>NESADI SACCO</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Contact -->
                        <div class="contact">
                            <a href="#"><img src="img/core-img/logo.png" alt="" class="sacco-logo"> NESADI SACCO</a>
                        </div>
                        
                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="products.html">Products</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="whynesadi.html">Why Join Us</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="whynesadi.html">Why Join Us</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <div class="hero-slideshow owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/flyer.png);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="300ms">NESADI SACCO</h2>
                                <p data-animation="fadeInUp" data-delay="500ms">We Care and Together We Can</p>
                                <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/5.jpg);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="300ms">NESADI SACCO</h2>
                                <p data-animation="fadeInUp" data-delay="500ms">We Care and Together We Can</p>
                                <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/1.jpg);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="300ms">NESADI SACCO</h2>
                                <p data-animation="fadeInUp" data-delay="500ms">We Care and Together We Can</p>
                                <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(img/bg-img/5.jpg);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="300ms">NESADI SACCO</h2>
                                <p data-animation="fadeInUp" data-delay="500ms">We Care and Together We Can</p>
                                <a href="#" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### About Us Area Start ###### -->
    <section class="services-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <div class="line"></div>
                        <h2>ABOUT NESADI SACCO</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="text-center wow fadeInUp" data-wow-delay="100ms">
                        <h2>WHO ARE WE?</h2>
                    </div>
                    <p>
                        NESADI SACCO Ltd is a duly registered SACCO under The Co-operative  Societies Act Cap 490 of the Laws of Kenya. Registered on the 15th of September 2020, the SACCO aspires to demonstrate that with proper management practices and application of best SACCO principles it is truly possible to grow a SACCO which appeals and meets the expectations of its members.
                    </p>
                    <p>
                        We envision walking diligently with our members through their financial journeys by offering supportive, empowering and reliable savings, credit and investment services in order to improve their welfare and shared prosperity. We seek to become the financial partner of choice for our members.
                    </p>
                </div>
            </div>

            <div class="row">
                
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                        <div class="text">
                            <h5>VISION</h5>
                            <p>
                                To be a most supportive, empowering and reliable financial partner of choice for our members. We envision walking diligently with our members through their financial journeys.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="text">
                            <h5>MISSION</h5>
                            <p>
                                To improve the welfare of members through reasonable savings, affordable credit, prudent investments, wealth creation, moral support and compassionate companionship in an ethical, effective, efficient, creative, transparent and friendly manner.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <div class="text">
                            <h5>OUR PHILOSOPHY</h5>
                            <p>
                                We are not just a SACCO; We are also a family of Savers, Borrowers, Investors, Innovators, Creative Thinkers and above all Brothers and Sisters who care for one another. We also care for our communities and the natural environment around us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cta-btn row align-items-center">
                <a href="about.html" class="btn credit-btn box-shadow">ABOUT US</a>
            </div>
            
        </div>
    </section>
    <!-- ##### About Us Area End ###### -->

    <!-- ##### Call to action Area Start ###### -->
    <section class="newsletter-area section-padding-100 bg-img jarallax mt-50" style="background-image: url(img/bg-img/flyer.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="nl-content text-center">
                        <h2>JOIN NESADI SACCO</h2>
                        <div class="cta-btn row align-items-center">
                            <a href="about.html" class="btn credit-btn box-shadow">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call to action Area End ###### -->

    <!-- ##### Who can join Area Start ###### -->
    <section class="services-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <div class="line"></div>
                        <h2>WHO CAN JOIN THIS SACCO</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <p class="text-center">
                       This SACCO is not limited or restricted to any section of the population of Kenya or beyond. 
                    </p>
                    <p class="text-center">
                        The SACCO is also not restricted to any industry. 
                    </p>
                    <p class="text-center">
                        Membership to the SACCO is on voluntary basis, with voluntary entry and exit. 
                    </p>
                    <p class="text-center">
                        Whatever you do for a living as long as it is legal and wherever you are-in or out of Kenya, you are most welcome to join NESADI SACCO.
                    </p>
                    <p class="text-center">
                        We embrace human diversity and your geographical location, whether residential or work-related should not be a barrier. The common denominator for all of us at NESADI SACCO is to improve the wellbeing of members. You just need Kshs 1,000 to register as a member and your monthly contribution depends on how much you can afford but not less than Kshs 500 per month.
                    </p>
                </div>
            </div> 
            <div class="cta-btn row align-items-center">
                <a href="whynesadi.html" class="btn credit-btn box-shadow">Why You Should Join Nesadi</a>
            </div>         
        </div>
    </section>
    <!-- ##### Who can join Area End ###### -->

    <!-- ##### Services Area Start ###### -->
    <section class="services-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <div class="line"></div>
                        <p>Take look at our</p>
                        <h2>Our Products</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Emergency Loan</h5>
                            <h5 class="text-center">(NEL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Designed for unforeseen circumstances such as rent, urgent travel, sickness, utility payments, family upkeep in the event of disruption of income flow, etc.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Maximum amount-negotiable depending on circumstances but not more than double the member’s savings except in special circumstances presented and approved by the management.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="400ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Masomo Loan</h5>
                            <h5 class="text-center">(NML)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Designed to help members, their children or other dependants empower through conventional education (e.g. primary/ secondary/ college/ university etc.), specialized short-courses to boost your career or increase your job opportunities and business tailored training programmes to enable you start a certain business or improve an existing one.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Interest rate of 8.5% calculated monthly
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i> 
                                1% Processing fee charged only once
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="400ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Events & Holiday Savings Scheme</h5>
                            <h5 class="text-center">(NEHOSS)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Designed to help members save for holidays, events or festive seasons like Christmas, Birthdays, Weddings, Anniversaries, etc. 
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i> 
                                The member opens a separate NEHOSS Account with the SACCO. This account is separate from the ordinary account.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Make holiday/event savings of any amount but the monthly total should not be less than KShs. 500. 
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Automatic M-Loan</h5>
                            <h5 class="text-center">(NAML)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Designed to help members deal with short-term challenges requiring small amounts of money.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i> 
                                This loan is automatic upon application-processed within minutes.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i> 
                                No Guarantor(s) needed for this type of loan.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Interest rate of 12% calculated monthly
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi LPO financing</h5>
                            <h5 class="text-center">(NLPO)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Designed to support our members who are in the business of procurement and supply of items to various entities. If a member has got an LPO to supply an item(s) but the member doesn’t have the necessary capital to procure, they can approach the SACCO and ask to partner with the SACCO.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                10% interest on the loan (amount required to service the LPO) to be deducted from the profits made upon servicing the LPO.
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Business Loan</h5>
                            <h5 class="text-center">(NBL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Designed to support our members who are in business.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i> 
                                Designed to be short-term in nature
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Interest rate will range from 12% to 15% calculated monthly depending of the amounts to be borrowed, duration, location, borrower’s reputation and the risk involved among others. 
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="200ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Medical Insurance Cover Loan</h5>
                            <h5 class="text-center">(NMICL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-paper-plane"></i> 
                                Designed to help our members pay for family or individual medical covers to reduce the financial burdens in the unfortunate event of sicknesses.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Paid directly to the medical cover provider as advised by the member
                            </p>
                            <p>
                                <i class="fa fa-paper-plane"></i>
                                Processed as a matter of urgency provided requirements are met.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Interest rate of 10.5% calculated monthly and 1% Processing fee charged only once
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="500ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Talent, Innovation and Creativity Loan</h5>
                            <h5 class="text-center">(NTICL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-paper-plane"></i> 
                                Designed to promote the conversion of talents, innovativeness and creativity into an economic enterprise.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Advanced to members who can demonstrate they have a potential talent/creativity that can become an economic enterprise if supported and nurtured.
                            </p>
                            <p>
                                <i class="fa fa-paper-plane"></i>
                                Member must submit a brief typed summary of the talent/creativity and how he/she intends to convert it into an economic enterprise.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Interest rate of 10.5% calculated monthly and 1% Processing fee charged only once
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="500ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Automobiles Insurance Cover Loan</h5>
                            <h5 class="text-center">(NAICL)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-paper-plane"></i> 
                                Designed to help our members pay for automobiles insurance covers such as a motor vehicle, motorcycles, etc.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Paid directly to the insurance cover provider as advised by the member
                            </p>
                            <p>
                                <i class="fa fa-paper-plane"></i>
                                Maximum repayment period is six (6) months
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Interest rate of 12% calculated monthly and 1% Processing fee charged only once
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="pricing-table pricing-table-highlighted mb-15" data-wow-delay="500ms">
                        <div class="pricing-table-header grd1">
                            <h5 class="text-center">Nesadi Remittance Transmission to Third parties</h5>
                            <h5 class="text-center">(NRTT)</h5>
                        </div>
                        <div class="pricing-table-space"></div>
                        <div class="pricing-table-features">
                            <p>
                                <i class="fa fa-paper-plane"></i> 
                                Designed to help a member (especially those in the diaspora) send money to a third party: member or non-member when the member doesn’t have the money immediately.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                The money is sent/paid directly to the recipient as advised by the member.
                            </p>
                            <p>
                                <i class="fa fa-paper-plane"></i>
                                The money sent to the third party is treated as a loan to the member.
                            </p>
                            <p>
                                <i class="fa fa-rocket"></i>
                                Interest rate of 12% calculated monthly and 1% Processing fee charged only once
                            </p>
                        </div>
                        <div class="align-items-center pb-15">
                            <a href="#" class="btn credit-btn"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
                



            </div>
        </div>
    </section>
    <!-- ##### Services Area End ###### -->


    <section class="services-area section-padding-100-0">
      <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>
                    <p>Our</p>
                    <h2>Board Members</h2>
                </div>
            </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/ringine.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Kimathi C. M’Ringine</span>
                                <br>
		                        <span class="position">Chairman</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/kisae.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Rev. Dickson N. Kisae</span>
                                <br>
		                        <span class="position">Vice-Chairman</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/gikunda.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Patrick M. Gikunda</span>
                                <br>
		                        <span class="position">Secretary</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/mitine.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Mercy G. Mitine</span>
                                <br>
		                        <span class="position">Treasurer/Fin&A/Cs</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/bridget.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Bridget K. Mwebia</span>
                                <br>
		                        <span class="position">Admin/Operations/Records</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/mbugus.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Lawson K. Mbugguss</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/omondi.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Fred Omondi Banja</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/ester.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Esther Ikiara</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/kakai.jpg)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Reuben Kakai</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/joy.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Joy K. Gulliver</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/arimi.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Dr. S. M. Arimi</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/marete.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Onesmus T. Marete</span>
                                <br>
		                        <span class="position">Member</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url(img/people/amanja.png)"></div>
                    	<div class="pl-3">
                            <p>
                                <span class="name">Dr. Daniel M. Amanja</span>
                                <br>
		                        <span class="position">Patron</span>
                            </p>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ##### Call to action Area Start ###### -->
    <section class="newsletter-area section-padding-100 bg-img jarallax" style="background-image: url(img/bg-img/flyer.png);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="nl-content text-center">
                        <h2>JOIN NESADI SACCO</h2>
                        <div class="cta-btn row align-items-center">
                            <a href="about.html" class="btn credit-btn box-shadow">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call to action Area End ###### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <div class="line"></div>
                        <h2 style="color: #ffffff;">Products List</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget mb-100">
                        <nav>
                            <ul>
                                <li><a href="#">NESADI EMERGENCY LOAN (NEL)</a></li>
                                <li><a href="#">NESADI MASOMO LOAN (NML)</a></li>
                                <li><a href="#">NESADI EVENTS & HOLIDAY SAVINGS SCHEME (NEHOSS)</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget mb-100">
                        <nav>
                            <ul>
                                <li><a href="#">NESADI AUTOMATIC M-LOAN (NAML)</a></li>
                                <li><a href="#">NESADI LPO FINANCING (NLPO)</a></li>
                                <li><a href="#">NESADI BUSINESS LOAN (NBL)</a></li>
                                <li><a href="#">NESADI MEDICAL INSURANCE COVER LOAN (NMICL)</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-footer-widget mb-100">
                        <nav>
                            <ul>
                                <li><a href="#">NESADI TALENT, INNOVATION AND CREATIVITY LOAN (NTICL)</a></li>
                                <li><a href="#">NESADI AUTOMOBILES INSURANCE COVER LOAN (NAICL)</a></li>
                                <li><a href="#">NESADI REMITTANCE TRANSMISSION TO THIRD PARTIES (NRTT)</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index.html" class="footer-logo"><img class="sacco-logo" src="img/core-img/logo.png" alt=""></a>
                            <p>
                                NESADI SACCO | We Care and Together We Can
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>